html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: black;
}

@font-face {
    font-family: 'Merriweather-Regular';
    src: url(./fonts/Merriweather-Regular.ttf);
    /* font-family: 'Merriweather-Regular', sans-serif;
    regular font-weight: 400 и bold font-weight: 700 */
}

.logo {
    background-image: url('./assets/svg/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
    margin: 20px;
}

.logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    cursor: pointer;
}

.container {
    /* max-width: 1440px; */
    width: 1440px;
    margin: 0 auto;
}


/* main .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.hero,
.portfolio,
.skills,
.video,
.price,
.contacts {
    width: 50%;
} */

header {
    position: absolute;
    width: 100%;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    width: 50%;
  } */


/* @media (max-width: 768px) {
    .section {
        width: 100%;
    }
} */

.hero {
    background-image: url('./assets/img/bg.jpg');
    height: 910px;
    width: 1440px;
    background-repeat: no-repeat;
    background-position: center 0;
    display: flex;
    margin-bottom: 42px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: -80px 0 0 80px;
}


/* 
.hero {
    background-image: url('./assets/img/bg.jpg');
    height: 910px;
    width: 1440px; 
    background-position: center -90px;
    background-repeat: no-repeat;
} */

.hero-content h1 {
    font-family: 'Merriweather', serif;
    font-size: 60px;
    line-height: 120px;
    color: #FFFFFF;
    margin: 0;
}

.hero-content p {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 37px;
    color: #FFFFFF;
    width: 45%;
    margin: 13px 0 30px;
}

.hero-content button {
    font-family: 'Inter', sans-serif;
    background: #BDAE82;
    border: 2px solid #BDAE82;
    color: black;
    width: 220px;
    height: 55px;
    font-size: 20px;
    line-height: 40px;
    margin: 2px;
}

.hero-content button:hover {
    font-family: 'Inter', sans-serif;
    background: #BDAE82;
    border: 2px solid #BDAE82;
    color: white;
    width: 220px;
    height: 55px;
    font-size: 20px;
    line-height: 40px;
    margin: 2px;
    cursor: pointer;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.switch-lng {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 50px;
    margin: 0 8px 0 4px;
    transition: color 0.5s;
}

.switch-lng a {
    text-decoration: none;
    margin: 0;
    color: #FFFFFF;
}

.switch-lng a:hover {
    color: #BDAE82;
    margin: 0;
    text-decoration: none;
    transition: .5s;
}

nav {
    display: flex;
    align-items: center;
    margin: 0 17px;
}

.container nav ul {
    display: flex;
    margin: 0 16px;
}

.container nav ul li {
    list-style-type: none;
    margin: 15px;
}

.container nav ul li a {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.5s;
}

.container nav ul li a:hover {
    color: #BDAE82;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}


/* .header-container {
    background: url('./assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
    height: 100vh;
  } */

.section-title {
    display: flex;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #BDAE82;
    font-family: 'Merriweather', serif;
    width: 49%;
    margin: 0 auto;
    padding: 59px 0 59px;
}

.section-title::before {
    content: "";
    margin-top: 40px;
    width: 286px;
    height: 2px;
    margin: auto 30px auto 0;
    background-color: #BDAE82;
}

.section-title::after {
    content: "";
    margin-top: 40px;
    width: 286px;
    height: 2px;
    margin: auto 0 auto 30px;
    background-color: #BDAE82;
}

.skills-item {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    margin: 0px;
    flex: 1;
}

.skills-item img {
    padding-right: 15px;
}

.skills-item div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 31px;
}

.skills .skills-item h3 {
    font-weight: 700;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 40px;
    margin: 50px 0 3px;
}

.skills .skills-item p {
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
    width: 90%;
}

.portfolio-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-btns button {
    font-family: 'Inter', sans-serif;
    background: black;
    border: 2px solid #BDAE82;
    color: #BDAE82;
    width: 220px;
    height: 55px;
    font-size: 20px;
    line-height: 40px;
    margin: 2px;
    gap: 5px;
}

.portfolio-btns button:hover {
    font-family: 'Inter', sans-serif;
    background: #BDAE82;
    border: 2px solid #BDAE82;
    color: white;
    width: 220px;
    height: 55px;
    font-size: 20px;
    line-height: 40px;
    margin: 2px;
    cursor: pointer;
    transition: .5s;
}

.portfolio-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 48px 0px 32px;
}

.portfolio-items img {
    margin: 11px;
}

.video-player {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
    text-align: center;
    margin-bottom: 38px;
}

.video-player .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
}

.video-player .play {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: none;
    transition: .5s;
}

.video-player .play:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    cursor: pointer;
}

.video-player .play button {
    border: none;
    background-color: transparent;
}

.price-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.price-items h3 {
    font-family: 'Merriweather', serif;
    font-size: 28px;
    line-height: 56px;
    color: #FFFFFF;
    margin: 45px 0 34px
}

.price-items h4 {
    font-family: 'Merriweather', serif;
    font-size: 24px;
    line-height: 48px;
    color: #BDAE82;
    margin: -13px;
}

.price-items p {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
    margin: 34px 0px 38px;
}

.price-items button {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 40px;
    background-color: #BDAE82;
    margin: 0 0 40px;
    padding: 8px 39px 7px;
    /* cursor: pointer; */
}

.price-items button:hover {
    font-family: 'Inter', sans-serif;
    background: #BDAE82;
    border: 2px solid #BDAE82;
    color: white;
    margin: 0 0 40px;
    font-size: 20px;
    line-height: 40px;
    padding: 8px 39px 7px;
    cursor: pointer;
    transition: .5s;
}

.price-items div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 2px solid #BDAE82;
    margin: 0 13px;
    flex: 1;
}

.contacts {
    display: flex;
    justify-content: flex-end;
    background-image: url('./assets/img/contacts.jpg');
    height: 700px;
    width: 1440px;
    background-repeat: no-repeat;
    background-position: center 0;
    color: #BDAE82;
    font-family: 'Merriweather', serif;
}

.contacts .info input {
    border: 2px solid #BDAE82;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    height: 50px;
    width: -webkit-fill-available;
    padding: 25px 226px 25px 20px;
    margin: 15px 0 3px 20px;
}

.contacts .info input:focus {
    font-family: 'Inter', sans-serif;
    color: #bdae82;
    font-size: 20px;
    line-height: 40px;
}

#message {
    border: 2px solid #BDAE82;
    background: rgba(0, 0, 0, 0.5);
    padding: 2px 0px 84px 20px;
    margin: 12px 0px 5px 20px;
    width: -webkit-fill-available;
}

#message:focus {
    margin: 12px 0px 5px 20px;
    padding: 2px 0px 84px 20px;
    font-family: 'Inter', sans-serif;
    color: #bdae82;
    font-size: 20px;
    line-height: 40px;
}

::placeholder {
    font-family: 'Inter', sans-serif;
    color: #bdae82;
    font-size: 20px;
    line-height: 40px;
}

.contacts h2 {
    font-size: 40px;
    line-height: 80px;
    color: #BDAE82;
    font-family: 'Merriweather', serif;
    margin: 58px 0 24px 21px;
}

.contacts .info {
    width: 32.75vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
}

.contacts .info button {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 40px;
    background-color: #BDAE82;
    margin: 20px 0 0 20px;
    border: 2px solid #BDAE82;
    padding: 4px 38px 7px
}

.contacts .info button:hover {
    font-family: 'Inter', sans-serif;
    background: #BDAE82;
    border: 2px solid #BDAE82;
    color: white;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    transition: .5s;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 50px;
    padding: 27px 0;
}

footer .container p a {
    color: #FFFFFF;
    text-decoration: none;
}

.footer-data {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

.footer-data p {
    margin-left: 21px;
}

.footer-data a {
    color: #FFFFFF;
    text-decoration: none;
}

.social-list ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 16px 9px 0 0;
}

.social-list ul li {
    text-decoration: none;
    list-style-type: none;
}

.social-list ul li a {
    margin-right: 17px;
    transition: .3s;
}

.social-list a:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    transition: .5s;
}


/* @media (max-width: 1440px) {
    .skills-items {
        justify-content: space-around;
    }
} */